---
layout: base
header_template: default
footer_template: default
---

<div class="c_site">

  {%- include header-group %}

  <main class="c_main-group">

    {{ content | safe }}

  </main>

  {%- include footer-group %}

</div>
