<div class="c_banner">
  <div class="l_container">
    <div class="l_flex --align-center --justify-between">
      <div class="l_flex__item --shrink">
        <a href="/" class="c_banner__logo" title="Head Back Home" aria-label="Head Back Home">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50"/>
          </svg>
        </a>
      </div>
      <div class="l_flex__item --shrink u_display--none u_display--block--lg">

        {%- include navigation/primary %}

      </div>
      <div class="l_flex__item --shrink u_display--none--lg">
        <a href="#" class="c_banner__toggle js_gutter-toggle" data-target="gutter-menu" aria-label="Open Mobile Navigation" title="Open Mobile Navigation">
          <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round">
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <line x1="3" y1="18" x2="21" y2="18"></line>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
