{%- if cta_enabled %}

  <div class="c_cta ~~action">
    <div class="l_container">
      <div class="l_flex --justify-between --align-center">
        <div class="l_flex__item --span-12 --md --span-8--lg">
          <h2 class="u_margin-bottom--half">Need some assistance?</h2>
          <p class="--lead u_margin-bottom--double u_margin-bottom--none--md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor debitis, esse sit distinctio consequuntur nulla neque ratione laudantium accusamus aspernatur eveniet numquam odit fugiat aut dicta!</a></p>
        </div>
        <div class="l_flex__item --span-12 --shrink--md">
          <a href="/contact" class="e_button">Get in Touch</a>
        </div>
      </div>
    </div>
  </div>

{%- endif %}
