<div class="c_gutter ~~dark" id="gutter-menu" aria-hidden="true">
  <a href="#" class="c_gutter__close js_gutter-toggle" onfocus="this.blur();" data-target="gutter-menu" title="Close Menu" aria-label="Close Menu">&times;</a>

  {%- include navigation/gutter %}

</div>
