<div class="c_banner">
  <div class="l_container">
    <div class="l_flex --align-center --justify-between">
      <div class="l_flex__item --shrink">

        <a class="c_company-logo" href="/" title="Head Back Home" aria-label="Head Back Home">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="100px" width="100px" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50"/>
          </svg>
        </a>

      </div>
      <div class="l_flex__item --shrink u_display--none u_display--block--lg">

        {%- include navigation/primary %}

      </div>
      <div class="l_flex__item --shrink u_display--none--md">
        <a href="#" class="c_banner__toggle js_gutter-toggle" data-target="gutter-menu" aria-label="Open Mobile Navigation" title="Open Mobile Navigation">
          <svg class="c_feather-icon"><use xlink:href="/_assets/images/feather.svg#menu"/></svg>
        </a>
      </div>
    </div>
  </div>
</div>
