<nav class="c_footer-navigation">
  <ul class="c_footer-navigation__menu">
    <li class="c_footer-navigation__item"><a class="c_footer-navigation__link" href="/">Home</a></li>
    <li class="c_footer-navigation__item"><a class="c_footer-navigation__link" href="/about/">About</a></li>
    <li class="c_footer-navigation__item"><a class="c_footer-navigation__link" href="/posts/">Posts</a></li>
    <li class="c_footer-navigation__item"><a class="c_footer-navigation__link" href="/projects/">Projects</a></li>
    <li class="c_footer-navigation__item"><a class="c_footer-navigation__link" href="/services/">Services</a></li>
    <li class="c_footer-navigation__item"><a class="c_footer-navigation__link" href="/vacancies/">Vacancies</a></li>
    <li class="c_footer-navigation__item"><a class="c_footer-navigation__link" href="/contact/">Contact</a></li>
  </ul>
</nav>
