<div class="c_personnel-loop">
  <h3 class="--h5 u_margin-bottom--half">{{ personnel.data.name }}</h3>
  <h4 class="--alternative u_margin-bottom--double">{{ personnel.data.role }}</h4>

  {{ personnel.templateContent | safe }}

</div>
