---
layout: default
permalink: 404.html
title: Page Not Found
description: The resource you are looking for might have been removed, had its name changed, or is temporarily unavailable.
sitemap: false
---

<section class="c_band --spacious">
  <div class="l_container --sm u_text-align--center">
    <svg class="c_feather-icon --xl u_margin-bottom--double u_color--brand"><use xlink:href="/_assets/images/feather.svg#alert-circle"/></svg>
    <h1 class="u_margin-bottom--half">{{ title }}</h1>
    <p class="--lead">{{ description }}</p>
    <a href="/" class="e_button --outline">Head Back Home</a>
  </div>
</section>
