---
layout: default
permalink: 404.html
title: Page Not Found
description: The resource you are looking for might have been removed, had its name changed, or is temporarily unavailable.
sitemap: false
---

<section class="c_band --spacious">
  <div class="l_container --sm u_text-align--center">
    <svg class="u_margin-bottom--double u_color--brand" xmlns="http://www.w3.org/2000/svg" width="7em" height="7em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg>
    <h1 class="u_margin-bottom--half">{{ title }}</h1>
    <p class="--lead">{{ description }}</p>
    <a href="/" class="e_button --outline">Head Back Home</a>
  </div>
</section>
