---
layout: default
permalink: /posts/{%- if pagination.pageNumber > 0 %}{{ pagination.pageNumber | plus:1 }}/{%- endif %}index.html
title: Post Archive Title
description: Post Archive Description
pagination:
  data: collections.post
  size: 10
  alias: posts
---

<section class="c_band">

  {%- if collections.post.size > 0 %}

    <div class="l_container">
      <div class="l_grid --columns-2--sm --columns-3--md">

        {%- for post in posts %}

          {%- include post/loop %}

        {%- endfor %}

      </div>
    </div>

    {%- if pagination.pageLinks.length > 1 %}

      <div class="l_container">

        {%- include pagination %}

      </div>

    {%- endif %}

  {%- else %}

    <div class="l_container">
      <div class="c_notification --negative">
        <div class="c_notification__content">
          <h3 class="c_notification__title">Need Error Message Here</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus eius soluta reiciendis non debitis corrupti nulla similique commodi, consequatur ullam voluptate dolore doloribus provident vitae tenetur enim dolorem quia totam!</p>
        </div>
      </div>
    </div>

  {%- endif %}

</section>
