---
layout: default
title: Page Title
description: Page Description
---

<div class="c_site">
  <main class="c_main">
    <section class="c_band">
      <div class="l_container">
        <h2>It Grows in Your Exclusive Accounts</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab odit ea magni omnis deserunt in officiis tempora quasi, aperiam error voluptates corrupti eligendi numquam totam! Ad soluta odit praesentium enim?</p>
        <p>Your investment account can beat the average saving account interest rate of 1.18% by returning on average <strong>6%</strong>, and with much more flexibility and freedom over your cash.</p>
        <p>Your cashback investment account is yours to do with as you choose. Withdraw, invest and even top it up with your own savings to see your cash grow faster.</p>
        <p><a href="/offers/hub" class="e_button --small">Browse Latest Deals</a></p>
        <ul>
          <li><strong>29.39%</strong> Profit on our investment accounts over the last five years.</li>
          <li><strong>+4,000</strong> Merchants offering cashback with Exclusive.</li>
          <li><strong>£300</strong> Average cashback earnt per person per year.</li>
          <li><strong>£10</strong> Only £10 needed to open an investment account.</li>
        </ul>
      </div>
    </section>
  </main>
</div>
