---
layout: default
header_template: home
image: https://source.unsplash.com/random/1920x1080
---

<section class="c_band">
  <div class="l_container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam optio voluptatum molestiae at tempore! Corporis nihil sapiente possimus eveniet optio rerum sint eius aliquam odit veritatis dolores, accusamus similique a!</p>
    <p><a href="#" class="e_button --negative --text">Negative</a></p>
    <p><a href="#" class="e_button --positive --text">Positive</a></p>
  </div>
</section>
