---
layout: default
permalink: /development/
title: Development Page
description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nihil incidunt quae maxime dolores eum doloremque perferendis cumque deleniti dolorum, sed, nisi, labore itaque architecto? Porro quod unde veniam non.
hero_enabled: false
cta_enabled: false
palettes: ['default', 'invert', 'action', 'brand']
---

{% for item in palettes %}

  <section class="c_band ~~{{ item }}">
    <div class="l_container --md c_content">
      <h1>{{ item | capitalize }} Palette</h1>
      <p class="--lead">Molestias, facere nam vel tempora fugit fuga corporis quidem ratione suscipit inventore dignissimos deleniti a expedita alias, blanditiis asperiores velit error minima. Ipsa, eum. Voluptates facilis voluptatum quidem debitis earum.</p>
      <p>Sint vero ducimus sit incidunt ipsum ab? Animi iusto alias nemo! Quos, eaque quibusdam sequi architecto dolorem nemo. Animi rem corporis error voluptate pariatur harum at facere nam molestiae voluptatem?</p>
      <p>Animi, nulla totam. Earum ipsam magni iure nesciunt, commodi pariatur consequuntur impedit, possimus repudiandae assumenda nemo officia suscipit maiores sint molestias dolore eius, totam velit amet autem minus? Quod, reprehenderit!</p>
      <a class="e_button --small" href="#">Primary Button</a>
      <hr>
      <h2>Lorem ipsum dolor sit amet</h2>
      <p>Pellentesque <a href="#">habitant morbi tristique</a> senectus et netus et malesuada <mark>fames ac turpis</mark> egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
      <table>
        <thead>
          <tr>
            <th>Table Header</th>
            <th>Table Header</th>
            <th>Table Header</th>
            <th>Table Header</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Table Footer</th>
            <th>Table Footer</th>
            <th>Table Footer</th>
            <th>Table Footer</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <th>Row Heading</th>
            <td>Cell Data</td>
            <td>Cell Data</td>
            <td>Cell Data</td>
          </tr>
          <tr>
            <th>Row Heading</th>
            <td>Cell Data</td>
            <td><a href="#">Cell Data</a></td>
            <td>Cell Data</td>
          </tr>
          <tr>
            <th>Row Heading</th>
            <td>Cell Data</td>
            <td>Cell Data</td>
            <td>Cell Data</td>
          </tr>
          <tr>
            <th>Row Heading</th>
            <td>Cell Data</td>
            <td>Cell Data</td>
            <td>Cell Data</td>
          </tr>
        </tbody>
      </table>
      <hr>
      <h3 class="--smallcaps">Lorem ipsum dolor sit amet</h3>
      <p>Facilis facere inventore pariatur modi culpa error, doloribus necessitatibus reprehenderit consectetur adipisci ullam deleniti maiores ad asperiores cumque delectus fugiat. Nulla perspiciatis reiciendis dolorem, tenetur eaque repellendus hic inventore illum.</p>
      <blockquote>
        <p>Reiciendis incidunt quisquam sequi neque ab, facilis dolor magnam consequatur excepturi dignissimos quaerat, ex, placeat natus omnis. Ad, illo mollitia tempora hic voluptate sapiente facilis deserunt minima libero ullam? Suscipit?</p>
        <cite>Quote Author</cite>
      </blockquote>
      <p>Cum necessitatibus alias sed, earum reiciendis quisquam rerum quia eum iste ipsam vel, iure illo, odit dolores incidunt dolorum atque harum. Quia, pariatur. Consequuntur blanditiis deleniti odio, similique corporis impedit?</p>
    </div>
  </section>

{% endfor %}
