---
layout: default
permalink: /about/
title: About Page Title
description: About Page Description
excerpt: About Page Excerpt
image: https://source.unsplash.com/random/1920x1080
hero_width: md
---

<section class="c_band">
  <div class="l_container --md">
    <div class="c_content">
      <p class="--lead">Alias ducimus architecto molestiae qui harum asperiores ab accusantium. Rerum aliquam tenetur totam a laborum est accusantium suscipit blanditiis, quis, dolorem animi cupiditate repellendus facere accusamus odit doloribus esse placeat?</p>
      <p>Optio delectus numquam aliquam asperiores! Ex vero fugiat commodi. Eveniet adipisci est aliquam illum perferendis rem impedit neque asperiores, delectus iure id. Deleniti voluptas, aut fugiat quis et nihil deserunt.</p>
      <p>Fugiat quae et impedit pariatur dolores, consequatur quia, doloribus praesentium enim cupiditate soluta consectetur exercitationem maxime hic error expedita voluptas qui blanditiis veniam laboriosam iste porro magnam. Aperiam, officiis ut.</p>
    </div>
  </div>

  {%- if collections.personnel.size > 0 %}

    <div class="l_container">
      <h2 class="u_margin-bottom--double--lg">Meet the Team</h2>
      <div class="l_grid --columns-2--sm --columns-3--lg">

        {%- for personnel in collections.personnel %}

          {%- include personnel/loop %}

        {%- endfor %}

      </div>
    </div>

  {%- endif %}

</section>
